html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

.wrap {
  max-width: 1024px;
  margin: auto;
  font-family: "Microsoft JhengHei";
  color: #3D1101; }

.header {
  background-color: #000;
  color: #fff;
  width: 100%;
  position: relative; }
  .header .Banner {
    width: 100%;
    height: 420px;
    background-image: url(../images/header_desktop.png);
    background-position: center center;
    background-repeat: no-repeat; }
    @media (max-width: 600px) {
      .header .Banner {
        background-image: url(../images/header_mobile.png); } }
  .header .top {
    height: 56px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 20; }
  .header .nav {
    float: right;
    padding-top: 18px; }
    @media (max-width: 414px) {
      .header .nav {
        background: transparent;
        max-width: 414px;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.5s;
        height: auto;
        z-index: 110;
        position: absolute;
        right: 0;
        top: 30px; } }
  .header .nav li {
    display: inline-block;
    font-size: 18px;
    margin-right: 50px; }
    @media (max-width: 414px) {
      .header .nav li {
        margin-right: 10px; } }
    .header .nav li a {
      text-decoration: none;
      color: #fff; }
    .header .nav li a:hover {
      color: #FF5809; }
  .header .showmenu {
    display: none;
    font-size: 30px; }
    @media (max-width: 414px) {
      .header .showmenu {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        color: #fff; } }
  .header .logo {
    float: left;
    margin-left: 42px;
    padding-top: 16px; }
  .header .recommend {
    width: 405px;
    margin: auto;
    overflow: auto;
    margin-top: 85px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 18px 20px; }
    @media (max-width: 414px) {
      .header .recommend {
        width: 90%;
        padding: 18px 0px; } }
    .header .recommend span {
      width: 100%;
      float: left;
      text-align: center;
      font-size: 16px;
      line-height: 30px; }
      .header .recommend span i {
        margin-left: 7px;
        margin-right: 7px;
        font-size: 16px; }
    .header .recommend h2 {
      margin-bottom: 20px; }
      .header .recommend h2 span {
        width: auto;
        font-size: 36px;
        float: none; }
        @media (max-width: 470px) {
          .header .recommend h2 span {
            width: 100%;
            float: left;
            line-height: 38px; } }

@media (max-width: 414px) {
  .menu-show .nav {
    max-height: 500px; } }

.container {
  width: 100%;
  background-color: #EFE9E7; }

.feature {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  overflow: auto;
  overflow-x: hidden; }
  @media (max-width: 414px) {
    .feature {
      padding-top: 10%; } }
  .feature > div {
    overflow: auto;
    margin-bottom: 30px;
    position: relative; }
  .feature > div::before {
    position: absolute;
    content: ' ';
    border-bottom: 1px solid #d0d0d0;
    height: 5px;
    width: 14%;
    top: 18px;
    left: 25%; }
    @media (max-width: 414px) {
      .feature > div::before {
        display: none; } }
  .feature > div::after {
    position: absolute;
    content: ' ';
    border-bottom: 1px solid #d0d0d0;
    height: 5px;
    width: 14%;
    top: 18px;
    right: 25%; }
    @media (max-width: 414px) {
      .feature > div::after {
        display: none; } }
  .feature span {
    font-size: 20px;
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 10px; }
  .feature ul {
    width: 90%;
    margin: 20px 5% 0 5%; }
  .feature ul li {
    display: inline-block;
    width: 30.33333%;
    float: left;
    text-align: center;
    margin-right: 4.5%;
    font-size: 18px; }
    @media (max-width: 414px) {
      .feature ul li {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        margin-bottom: 10%; } }
    .feature ul li img {
      border-radius: 100px;
      margin-bottom: 20px; }
    .feature ul li span {
      margin-bottom: 20px;
      font-size: 18px; }
    .feature ul li p {
      font-size: 18px; }
  .feature ul li:last-child {
    margin-right: 0; }

.chief {
  width: 100%;
  overflow: auto;
  background-color: #3D1101;
  color: #fff;
  height: auto;
  overflow-y: hidden; }
  .chief .chief-img {
    width: 45%;
    margin-left: 42px;
    height: 460px;
    float: left;
    background-position: center center; }
    @media (max-width: 768px) {
      .chief .chief-img {
        margin-left: 20px; } }
    @media (max-width: 414px) {
      .chief .chief-img {
        width: 100%;
        margin-left: 0;
        background-position: 100% center; } }
  .chief .chief-today {
    float: right;
    width: 40%;
    padding: 10% 7% 0 0;
    line-height: 20px;
    font-size: 16px; }
    @media (max-width: 768px) {
      .chief .chief-today {
        padding: 5% 5% 0 0; } }
    @media (max-width: 414px) {
      .chief .chief-today {
        width: 80%;
        padding: 10%; } }
    .chief .chief-today .chief-name {
      width: 100%;
      font-size: 20px;
      float: left;
      line-height: 25px;
      margin-bottom: 15px; }
    .chief .chief-today .chief-name:first-child {
      margin-bottom: 0px; }
      .chief .chief-today .chief-name:first-child span {
        margin-left: 10px;
        margin-right: 10px; }

.avatar {
  width: 100%;
  overflow: auto;
  margin-bottom: 5%; }
  .avatar > div {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 24px; }
    @media (max-width: 414px) {
      .avatar > div {
        margin-top: 10%; } }
  .avatar ul {
    width: 90%;
    margin: 0 5% 0 5%; }
  .avatar ul li {
    display: inline-block;
    width: 33.33333%;
    float: left; }
    @media (max-width: 414px) {
      .avatar ul li {
        width: 100%; } }
    .avatar ul li img {
      border-radius: 100px;
      width: 20%;
      float: left; }
    .avatar ul li .impression {
      width: 70%;
      float: right;
      padding-right: 7%;
      padding-left: 3%; }
      @media (max-width: 414px) {
        .avatar ul li .impression {
          width: 77%;
          padding-right: 0; } }
      .avatar ul li .impression span {
        width: 100%;
        float: left;
        margin-bottom: 25px;
        font-size: 16px; }
      .avatar ul li .impression span:last-child {
        text-align: right; }

.map {
  background-color: #FFFAFA;
  overflow: auto;
  padding: 0 5% 5% 5%; }
  .map .map-title {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 24px;
    overflow: auto;
    overflow-y: hidden; }
    @media (max-width: 414px) {
      .map .map-title {
        margin-top: 10%; } }
    .map .map-title span {
      width: 100%;
      float: left;
      line-height: 30px;
      text-align: center; }
  .map .tinymap {
    height: 386px;
    width: 50%;
    float: left;
    border: 1px solid #d0d0d0; }
    @media (max-width: 414px) {
      .map .tinymap {
        width: 100%; } }
  .map form {
    float: right;
    height: 386px;
    width: 45%;
    position: relative; }
    @media (max-width: 414px) {
      .map form {
        width: 100%;
        margin-top: 10%; } }
    .map form span {
      width: 100%;
      float: left;
      font-size: 14px;
      margin-bottom: 10px; }
    .map form input[type="text"] {
      width: 95%;
      float: left;
      margin-bottom: 15px;
      border-style: none;
      border: 1px solid #d0d0d0;
      border-radius: 3px;
      height: 28px;
      padding-left: 10px; }
    .map form input[type="radio"] {
      width: 16px;
      height: 16px;
      vertical-align: middle;
      margin: 0;
      margin-right: 35px; }
    .map form input[type='radio']:hover {
      border-color: blue; }
    .map form input[type="radio"]::before {
      content: ' ';
      display: block;
      width: 60%;
      height: 60%;
      margin: 17.5% 17.5%;
      border-radius: 50%; }
    .map form input[type="radio"]:checked:before {
      background: #66B3FF; }
    .map form .sent-form {
      position: absolute;
      bottom: 0;
      right: 10px;
      font-family: "PingFangTC-Regular"; }
      .map form .sent-form a {
        padding: 5px 15px;
        border-radius: 4px;
        color: #fff;
        font-size: 14px; }
      .map form .sent-form .cancel {
        background-color: gray; }
      .map form .sent-form .sent {
        background-color: #FF5809;
        margin-left: 15px; }

.footer {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #EFE9E7;
  overflow: auto;
  font-size: 16px; }
  @media (max-width: 414px) {
    .footer {
      padding-top: 10%;
      padding-bottom: 10%; } }
  .footer > div {
    float: left; }
  .footer .about {
    width: 28.33333%;
    padding-left: 5%; }
    @media (max-width: 414px) {
      .footer .about {
        width: 90%;
        margin-bottom: 30px;
        padding-right: 5%; } }
    .footer .about span {
      font-size: 24px; }
    .footer .about p {
      margin-top: 20px;
      line-height: 20px; }
  .footer .contact {
    width: 29.33333%;
    padding-left: 4%; }
    @media (max-width: 414px) {
      .footer .contact {
        width: 96%;
        margin-bottom: 20px; } }
    .footer .contact span {
      font-size: 24px; }
    .footer .contact ul {
      margin-top: 20px; }
      @media (max-width: 414px) {
        .footer .contact ul {
          padding-left: 6%; } }
    .footer .contact ul li {
      margin-bottom: 8px;
      list-style-type: disc; }
      .footer .contact ul li a {
        color: #3D1101; }
  .footer .link {
    float: right;
    padding-right: 5%; }
    .footer .link img {
      margin-top: 10px;
      margin-bottom: 20px; }
    .footer .link ul {
      text-align: right; }
    .footer .link ul li {
      display: inline;
      font-size: 40px;
      margin-left: 10px; }
    .footer .link .google {
      color: #FF5151; }
    .footer .link .twitter {
      color: #46A3FF; }
    .footer .link .facebook {
      color: #004B97; }

.order {
  padding-top: 5%;
  padding-bottom: 5%;
  overflow: auto;
  background-color: #EFE9E7;
  font-size: 16px; }
  .order a {
    color: #3D1101; }
  .order .slider {
    width: 17%;
    float: left;
    padding-left: 5%;
    margin-right: 3%; }
    @media (max-width: 414px) {
      .order .slider {
        width: 95%;
        margin-right: 0;
        padding-left: 2.5%;
        padding-right: 2.5%;
        padding-top: 30px; } }
    .order .slider i {
      font-size: 32px;
      margin-right: 5px; }
    .order .slider ul {
      margin-top: 30px; }
    .order .slider ul li {
      line-height: 35px;
      border-bottom: 1px solid #3D1101;
      cursor: pointer;
      padding-left: 10px; }
    .order .slider .current {
      background-color: #3D1101;
      color: #fff; }
  .order .chart {
    width: 71%;
    padding-right: 4%;
    float: right;
    overflow-y: hidden; }
    @media (max-width: 414px) {
      .order .chart {
        width: 95%;
        padding-left: 2.5%;
        padding-right: 2.5%; } }
    .order .chart .search {
      width: 60%;
      margin-bottom: 20px;
      display: inline-block; }
      @media (max-width: 414px) {
        .order .chart .search {
          width: 100%;
          margin-top: 30px; } }
      .order .chart .search > div {
        width: 100%;
        border: 1px solid #3D1101;
        height: 24px; }
      .order .chart .search input[type="text"] {
        background-color: transparent;
        height: 22px;
        float: left;
        border: 0px;
        width: 85%; }
      .order .chart .search i {
        font-size: 20px;
        height: 22px;
        width: 15%;
        background: #3D1101;
        color: #fff;
        text-align: center;
        padding-top: 2px; }
      .order .chart .search i:hover {
        background: #F75000; }
    .order .chart .pay {
      width: 35%;
      display: inline-block;
      text-align: right;
      vertical-align: top; }
      @media (max-width: 414px) {
        .order .chart .pay {
          width: 100%;
          margin-bottom: 40px; } }
      .order .chart .pay span {
        margin-left: 8px;
        margin-right: 10px; }
      .order .chart .pay i {
        font-size: 30px; }
      .order .chart .pay i:hover {
        color: #F75000; }
    .order .chart .menu {
      width: 100%;
      height: auto; }
      .order .chart .menu .menu-1 {
        display: block; }
      .order .chart .menu .menu-2 {
        display: block; }
      .order .chart .menu .menu-3 {
        display: block; }
      .order .chart .menu .product {
        width: 210px;
        box-shadow: 4px 4px 3px rgba(51, 51, 102, 0.5);
        margin-bottom: 30px;
        border: 1px solid #d0d0d0;
        padding-bottom: 20px;
        margin-right: 3%;
        position: relative; }
        @media (max-width: 414px) {
          .order .chart .menu .product {
            width: 100%; } }
        .order .chart .menu .product i.like {
          position: absolute;
          top: 3%;
          left: 3%;
          color: #fff;
          font-size: 25px;
          cursor: pointer; }
        .order .chart .menu .product i.like-checked {
          position: absolute;
          top: 3%;
          left: 3%;
          color: #fff;
          font-size: 25px;
          cursor: pointer;
          visibility: hidden; }
        .order .chart .menu .product img {
          width: 100%;
          height: 120px;
          margin-bottom: 15px; }
        .order .chart .menu .product ul li {
          text-align: center;
          width: 100%;
          position: relative; }
        .order .chart .menu .product .product-C {
          font-size: 20px;
          margin-bottom: 5px; }
        .order .chart .menu .product .product-E {
          font-size: 12px;
          margin-bottom: 40px; }
        .order .chart .menu .product .product-E::after {
          position: absolute;
          content: ' ';
          height: 5px;
          width: 50%;
          bottom: -120%;
          left: 25%;
          border-bottom: 1px solid #3D1101; }
        .order .chart .menu .product .price {
          font-size: 20px;
          margin-bottom: 20px; }
          .order .chart .menu .product .price span {
            font-weight: bold; }
        .order .chart .menu .product input[type="submit"] {
          width: 80%;
          background-color: transparent;
          border: 2px solid #F75000;
          border-radius: 3px;
          color: #F75000;
          font-size: 16px;
          padding-left: 10%;
          cursor: pointer; }
        .order .chart .menu .product input[type="submit"]:hover {
          background-color: #F75000;
          color: #fff; }
        .order .chart .menu .product i {
          position: absolute;
          font-size: 18px;
          top: 15%;
          left: 25%;
          color: #F75000; }

.login {
  width: 360px;
  margin: 0 auto;
  padding-top: 5%;
  color: #3D1101;
  padding-bottom: 5%; }
  @media (max-width: 414px) {
    .login {
      width: 90%;
      padding-left: 5%;
      padding-right: 5%; } }
  .login > div {
    text-align: center;
    margin-bottom: 40px; }
    .login > div h2 {
      font-size: 20px;
      font-weight: bold;
      margin-top: 10px; }
  .login form {
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 6%;
    overflow: auto;
    box-shadow: 9px 4px 11px rgba(10, 10, 10, 0.1);
    border: 1px solid #d0d0d0;
    border-top: 3px solid #F75000;
    position: relative; }
    @media (max-width: 414px) {
      .login form {
        padding-left: 0;
        padding-right: 0; } }
    .login form span {
      width: 100%;
      float: left;
      margin-top: 20px;
      margin-bottom: 5px; }
    .login form span:first-child {
      text-align: center;
      font-weight: bold;
      font-size: 18px; }
    .login form .forget {
      color: #F75000;
      float: left;
      margin-top: 5px;
      font-size: 14px; }
    .login form .login-data {
      background: #fff;
      height: 32px;
      width: 100%;
      position: relative;
      margin-top: 10px; }
      .login form .login-data input[type="text"] {
        border: 0px;
        height: 30px;
        float: right;
        width: 97%;
        padding-left: 3%; }
      .login form .login-data i {
        position: absolute;
        left: 10px;
        font-size: 20px;
        top: 5px;
        color: gray; }
    .login form > div {
      width: 100%;
      float: left;
      text-align: center;
      margin-top: 40px; }
      .login form > div input[type="submit"] {
        display: inline-block;
        width: 45%;
        padding: 8px 0;
        color: #fff;
        border: 0px;
        border-radius: 3px; }
      .login form > div .gotoRegister {
        background: gray;
        float: left;
        width: 45%;
        padding: 8px 0;
        color: #fff;
        border: 0px;
        border-radius: 3px; }
      .login form > div .gotoLogin {
        background: #F75000;
        float: right; }

.register {
  width: 60%;
  margin: auto;
  padding-top: 5%;
  color: #3D1101;
  padding-bottom: 5%; }
  @media (max-width: 414px) {
    .register {
      width: 100%; } }
  .register > div {
    text-align: center;
    margin-bottom: 40px; }
    .register > div h2 {
      font-size: 20px;
      font-weight: bold;
      margin-top: 10px; }
  .register span {
    width: 100%;
    float: left;
    margin-top: 20px;
    margin-bottom: 5px; }
  .register .register-title {
    text-align: center;
    font-weight: bold;
    font-size: 18px; }
  .register form {
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 3%;
    overflow: auto;
    box-shadow: 9px 4px 11px rgba(10, 10, 10, 0.1);
    border: 1px solid #d0d0d0;
    border-top: 3px solid #F75000;
    position: relative; }
  .register .rule {
    width: 50%;
    float: left;
    line-height: 20px; }
    @media (max-width: 414px) {
      .register .rule {
        width: 100%; } }
    .register .rule span {
      font-size: 18px; }
  .register .register-form {
    width: 48%;
    float: right;
    margin-left: 2%; }
    @media (max-width: 414px) {
      .register .register-form {
        width: 100%; } }
    .register .register-form .register-data {
      background: #fff;
      height: 32px;
      width: 100%;
      position: relative;
      float: left; }
      .register .register-form .register-data input[type="text"] {
        border: 0px;
        height: 30px;
        float: right;
        width: 97%;
        padding-left: 3%; }
      .register .register-form .register-data i {
        position: absolute;
        left: 10px;
        font-size: 20px;
        top: 5px;
        color: gray; }
    .register .register-form .checkagain {
      margin-top: 10px; }
    .register .register-form .already {
      color: #F75000;
      float: left;
      margin-top: 5px;
      font-size: 14px; }
    .register .register-form .register-sent {
      width: 100%;
      float: left;
      text-align: right;
      margin-top: 10%; }
      .register .register-form .register-sent input[type="submit"] {
        background: #F75000;
        width: 45%;
        padding: 8px 0;
        color: #fff;
        border: 0px;
        border-radius: 3px; }
